<div class="card">
    <form [formGroup]="changepassForm" (ngSubmit)="onSubmit()">
<div class="mb-3">
    <label class="form-label">Old Password</label>
    <input formControlName="old_password" type="password" placeholder="Old Password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">

    <div *ngIf="submitted && f.old_password.errors" class="invalid-feedback">
        <div *ngIf="f.old_password.errors.required">Old Password is required</div>
    </div>

</div>
<div class="mb-3">
    <label class="form-label">New Password</label>
    <input formControlName="new_password" type="password" placeholder="New Password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">

    <div *ngIf="submitted && f.new_password.errors" class="invalid-feedback">
        <div *ngIf="f.new_password.errors.required">New Password is required</div>
        <div *ngIf="f.new_password.errors.pattern">Use 8 to 30 digits, combination of Uppercase, lowercase and special characters</div>
        <div *ngIf="f.new_password.errors.minLength">Minimum length should be 8</div>
    </div>
</div>
<div class="mb-3">
    <label class="form-label">Confirm Password</label>
    <input formControlName="password" type="password" placeholder="Conferm Password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">

    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
        <div *ngIf="f.password.errors.required">Confirm Password is required</div>
        <div *ngIf="f.password.errors.mustMatch">New Password and Confirm Password must be match.</div>
    </div>
</div>
<div class="mb-2 mt-4">
    <button class="btn default-btn outline-btn">SUBMIT</button>
</div>
</form>
</div>