<div class="login-wrapper">
    <div class="login-container">
      <div class="row">
        <div class="col-sm-12">
          <div class="img-Container">
            <img src="/assets/images/pinkerton_logo.png" alt="PINKERTON LOGO" />
          </div>
          <label class="login-htext">Securely logging out...</label>
        </div>
        <div class="col-sm-12">
            <div class="app-loader-wrapper">
                <div class="app-loader-spinner">
                    <img alt="loader" src="assets/images/pageloader-white.gif" />
                </div>
              </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <ng-template #logoutMessage let-instance>
    <div class="row m-0">
      <div class="col-12 my-2">
        <p>Case Number & Login Id does not match. Unable to login and proceed further.</p>
      </div>
      <div class="col-12 my-2">
        <button class="pinkerton-btn pinkerton-btn-secondary mr-2" type="button" (click)="onCancelClick(instance)">
          OK
        </button>
      </div>
    </div>
  </ng-template> -->
  

